<h1>Nom Nom Burgers!</h1>

<ul>
  {{#each burgers}}
    {{#unless sleepy}}
      {{> burgers/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<form class="create-form">

   <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter a burger you want to eat!</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>
