body {
  background-color: black;
  background-image: url('./images/bacon-burger.png');
  background-repeat: no-repeat;
  background-size: 450px 450px;
}


h1 {
  text-align: center;
  font-family: 'Titan One', cursive;
  color: azure;
  font-size: 70px;
}

li {
  padding: 5px;
  margin: 5px;
}

h2 {
  font-family: 'Handlee', cursive;
  text-decoration: underline;
  color: azure;
}

p, .label {
  font-family: 'Handlee', cursive;
  font-size: 20px;
  color: azure;
}

.container {
  margin-left: 300px;
  margin-top: 50px;
}

.footer {
  text-align: right;
  background-color: azure;
  font-family: 'Handlee', cursive;
  font-size: 10px;
}

.label {
  font-weight: bold;
}

.center {
  text-align: center;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#not-eaten, #burger-eaten {
  text-align: center;
}

#submit {
  font-family: 'Handlee', cursive;
  color: black;
  font-size: 20px;
}